<!DOCTYPE html>
<html>
<head>
    <title>Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>{% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}</ul>
      {% endif %}
    {% endwith %}
    <ul>
        {% for produto in produtos %}
        <li>
            <strong>{{ produto.nome }}</strong> - R$ {{ produto.preco }}<br>
            {{ produto.descricao }}<br>
            <a href="{{ url_for('edit_produtos.editar_produto', index=loop.index0) }}">Editar</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
